<div class="container">
  <div class="head">
    dd
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-success" style="width: 30%">
      0~0.3
      <span class="sr-only">35% Complete (success)</span>
    </div>
    <div class="progress-bar progress-bar-warning"
      style="width: 20%">
      0.3~0.7
      <span class="sr-only">20% Complete (warning)</span>
    </div>
    <div class="progress-bar progress-bar-danger" style="width: 50%">
      0.7~1
      <span class="sr-only">10% Complete (danger)</span>
    </div>
  </div>
</div>