<section class="page-section portfolio" id="portfolio">
  <div class="container" >

    <!-- Portfolio Section Heading -->
    <h2 class="page-section-heading text-center text-uppercase text-secondary
      mb-0">绘画</h2>

    <!-- Icon Divider -->
    <!-- <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon">
        <i class="fas fa-star"></i>
      </div>
      <div class="divider-custom-line"></div>
    </div> -->
    <!-- Portfolio Grid Items -->
    <div class="row">

      <!-- Portfolio Item 1 -->
      <div class="col-md-6 col-lg-4">
        <div class="portfolio-item mx-auto" data-toggle="modal"
          data-target="#portfolioModal1">
          <div class="portfolio-item-caption d-flex align-items-center
            justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="../../../assets/img/WechatIMG50.jpeg"
            alt="大天狗">
        </div>
      </div>

      <!-- Portfolio Item 2 -->
      <div class="col-md-6 col-lg-4">
        <div class="portfolio-item mx-auto" data-toggle="modal"
          data-target="#portfolioModal2">
          <div class="portfolio-item-caption d-flex align-items-center
            justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="../../../assets/img/WechatIMG50.jpeg"
            alt="大天狗">
        </div>
      </div>

      <!-- Portfolio Item 3 -->
      <div class="col-md-6 col-lg-4">
        <div class="portfolio-item mx-auto" data-toggle="modal"
          data-target="#portfolioModal3">
          <div class="portfolio-item-caption d-flex align-items-center
            justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="../../../assets/img/WechatIMG50.jpeg"
            alt="大天狗">
        </div>
      </div>

      <!-- Portfolio Item 4 -->
      <div class="col-md-6 col-lg-4">
        <div class="portfolio-item mx-auto" data-toggle="modal"
          data-target="#portfolioModal4">
          <div class="portfolio-item-caption d-flex align-items-center
            justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="../../../assets/img/WechatIMG51.jpeg"
            alt="大天狗">
        </div>
      </div>

      <!-- Portfolio Item 5 -->
      <div class="col-md-6 col-lg-4">
        <div class="portfolio-item mx-auto" data-toggle="modal"
          data-target="#portfolioModal5">
          <div class="portfolio-item-caption d-flex align-items-center
            justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="../../../assets/img/WechatIMG51.jpeg"
            alt="大天狗">
        </div>
      </div>

      <!-- Portfolio Item 6 -->
      <div class="col-md-6 col-lg-4">
        <div class="portfolio-item mx-auto" data-toggle="modal"
          data-target="#portfolioModal6">
          <div class="portfolio-item-caption d-flex align-items-center
            justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white">
              <i class="fas fa-plus fa-3x"></i>
            </div>
          </div>
          <img class="img-fluid" src="../../../assets/img/WechatIMG51.jpeg"
            alt="大天狗">
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
</section>

<div class="section" id="carousel">
  <div class="container">
    <div class="tim-title">
      <h3>Carousel</h3>
    </div>
    <div class="row">
      <div class="col-md-8 mr-auto ml-auto">
        <div class="card page-carousel">
          <ngb-carousel>
            <ng-template ngbSlide>
              <img
                src="../../../assets/img/yys/shishen/SSR/大天狗/before-awake.png"
                alt="Random
                first
                slide">
              <div class="carousel-caption">
                <p>大天狗</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img src="../../../assets/img/yys/shishen/SSR/妖刀姬/skin-1.png"
                alt="Random
                second
                slide">
              <div class="carousel-caption">
                <p>妖刀姬</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img src="../../../assets/img/yys/shishen/SSR/花鸟卷/skin-2.png"
                alt="花鸟卷">
              <div class="carousel-caption">
                <p>花鸟卷</p>
              </div>
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>
  </div>
</div>