<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item" (click)="changeTopic('about-this-site')">
                <a class="nav-link active" [routerLink]="['/blog',{topic:'about-this-site'}]">
                     About_this_site <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item" (click)="changeTopic('linux')">
                <a class="nav-link" [routerLink]="['/blog',{topic:'linux'}]">
                    Linux
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Neo4j
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Spring
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Angular
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                     Python
                </a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>